body {
    font-family: 'Arial', sans-serif;
}

@media screen and(max-width:1024px) {
    .right-nav-icons {
        display: flex;
        flex-direction: row;
        gap: 10px;
        position: absolute;
        right: 100px;
        top: 10px;
    }
}

.nav-link {
    color: black;
    border-bottom: solid 2px transparent;

}

.nav-link a {
    font-weight: bold;
}

.nav-link:hover {
    color: orange;
    border-bottom: solid 2px orange;
}

.right-nav-icons .nav-link {
    border-bottom: 0px;
}

.right-nav-icons .nav-link:hover {
    color: black;
    border-bottom: 0px;
    border-radius: 30px;
}


 .hero-text h1{
    padding-top: 10rem !important;
    padding-bottom: 10px;
} 

.objective {
    background-color: rgb(130, 130, 130);
    color: white;
    margin-top: 0.5%;
    padding-top: 4%;
    padding-bottom: 4%;
    padding-left: 3%;
    padding-right: 3%;
}




/* .objective h2 {
    text-align: center;
} */

/* .objective p {
    text-align: justify;
} */

/* .objective ul {
    text-align: left;
} */

.servicesText.card {
    height: 350px;
    cursor: pointer;
}

.card-title {
    text-align: center;
}

.fullnameError {
    display: none;
}

.numberError {
    display: none;
}

.length {
    padding-bottom: 10px;
}
#portfolio { display: none; }
.error { color: red; display: none; }